
<body class="banner" style="background-image: url(https://images.pexels.com/photos/129843/pexels-photo-129843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); margin-left: 200px; margin-right: 200px">

  <div class="" style="color: white">
    <h2>Sign-up form</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs" style="color: white">
      <%= f.input :email,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "email" }%>
      <%= f.input :password,
      required: true,
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
      input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
      required: true,
      input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="" style="text-align: center">
    <button class="btn btn-danger"><%= f.button :submit, "Sign up" %></button>
    </div>
    <% end %>
  </div>
    <%= render "devise/shared/links" %>
    <%= link_to "Home Page", root_path %>
</body>
