<div class="main-container product-show-container">

  <% @watches.each do |watch| %>
  <div class="split split-cards">
    <div class="card-product">
      <img src="<%= watch.watch_image %>">
      <div class="card-product-infos">
        <h2> <%=watch.watch_brand%> - <%=watch.watch_model%> </h2>
        <h3>€<%=watch.rental_price%> (per day)</h3> <p>Retail price €<%=watch.retail_price%></p>
      </div>
      <%= button_to "DELETE", watch, :method => :delete %>
     </div>
    </div>
  <% end %>

  <div class="split split-buttons">
    <button href="<% link_to new_my_watch_path%>" class="btn-main split-button">ENTER NEW WATCH</button>
  </div>

</div>
