<div class="main-container">
  <div class="split-new">
    <div class="form-wrapper watch-form d-flex">
      <%= simple_form_for @watch, url: my_watches_url do |f| %>
        <div class="centered">
          <h3> Upload your watch </h3>
          <div class="form">
            <div class="form-row">
              <%= f.input :watch_brand, wrapper_html: {class: "col-md-3"} %>
              <%= f.input :watch_model, wrapper_html: {class: "col-md-3"} %>
            </div>
            <div class="form-row">
              <%= f.input :watch_category, wrapper_html: {class: "col-md-3"} %>
              <%= f.input :gender, as: :select, collection: ["Female", "Male", "Coder"], wrapper_html: {class: "col-md-3"} %>
            </div>
            <div class="form-row">
              <%= f.input :rental_price, wrapper_html: {class: "col-md-3"} %>
              <%= f.input :retail_price, wrapper_html: {class: "col-md-3"} %>
            </div>
            <div class="form-row">
              <%= f.input :availability_start, as: :string, input_html: {class: "datepicker"}, wrapper_html: {class: "col-md-3"} %>
              <%= f.input :availability_end, as: :string, input_html: {class: "datepicker"}, wrapper_html: {class: "col-md-3"} %>
              <%= f.input :watch_image, wrapper_html: {class: "col-md-6"} , name: "klik"%>
              <%= f.input :watch_image_cache, as: :hidden %>
            </div>
          </div>
          <%= f.button :submit, "Create", class: "btn btn-primary"%>
          <%= link_to "Cancel ", root_path, class: "navlink"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

