
<div class="main-container product-show-container">
  <h2 class="bookings-index-header">Pending requests for watches:</h2>
  <div class="cards-index cards-bookings">
    <% @pending_bookings.each do |booking| %>
    <div class="card-product-index card-bookings ">
      <img src="<%= booking.watch.watch_image %>">
      <div class="card-product-infos-index infos-bookings">
        <h2><%= booking.watch.watch_brand %> - <%=booking.watch.watch_model %></h2>
        <h3><%= booking.user.username %></h3>
        <p>From: <%= booking.start_date %> until: <%= booking.end_date %></p>
        <h2>Booking status: <%= booking.status %></h2>
        <%= link_to "CONFIRM", accept_booking_path(booking), :method => :patch, class: "btn btn-main btn-update" %>
     <%= link_to "DECLINE", decline_booking_path(booking), :method => :patch, class: "btn btn-main btn-update" %>
        <% end %>
      </div>
   </div>
</div>
    <h2 class="bookings-index-header">My bookings:</h2>
    <div class="cards-index cards-bookings">
      <% @accepted_bookings.each do |booking| %>
      <div class="card-product-index card-bookings ">
        <img src="<%= booking.watch.watch_image %>">
        <div class="card-product-infos-index infos-bookings">
          <h2><%= booking.watch.watch_brand %> - <%=booking.watch.watch_model %></h2>
          <h3><%= booking.user.username %></h3>
          <p>From: <%= booking.start_date %> until: <%= booking.end_date %></p>
          <h2><%= booking.status %></h2>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

