<div class="main-container">
  <div class="form-inputs" style="color: white; margin-left: 200px; margin-right: 200px">
    <br>
    <h2>Booking confirmation form: </h2>
    <h3>You selected the <strong><%= @watch.watch_brand %> <%= @watch.watch_model %></strong> watch!</h3>
    <br>
    <p>Price per day: <%= @watch.rental_price %> €</p>
    <p>Please add the following information to finalize your booking: </p>
    <%= simple_form_for [@booking] do |b| %>
    <%= b.input :start_date %>
    <%= b.input :end_date %>
    <%= b.input :delivery_address %>
    <%= b.submit "Finalize my booking", class: "btn btn-primary" %>
    <% end %>
    <br>
  </div>
</div>

