<div class="navbar navbar-home navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%= image_tag "logo", alt: "logo" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="navlink" href="#">Home</a>
      </li>
      <li class="nav-time ">
        <a class="navlink" href="#">Rent Watches</a>
      </li>
      <li class="nav-time ">
        <a class="navlink" href="#">Lease Watches</a>
      </li>
    </div>
  </li>
</ul>
<div class="nav-item active">
  <a class="navlink" href="#">Log in</a>
</div>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</nav>
</div>
</div>
</div>

<div class="banner banner-homepage" style="background-image: url(https://images.pexels.com/photos/129843/pexels-photo-129843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="split">
    <div class="form-wrapper">
      <form>
        <div class="centered">
          <h3> CHECK AVAILABILITY </h3>
          <div>
            <div class="form-row">
              <div class="form-group">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group">
                <label for="inputGender">Gender</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Female</option>
                  <option>Male</option>
                  <option>Coder</option>
                </select>
              </div>
              <%= simple_form_for :search, method: "get" do |f| %>
              <%= f.input :Rent_From, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :Until, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.button :submit, "Explore", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="split container-slogan" style="height:400px;">
    <div class="centered">
      <h1><strong>SLOGAN!!!!!</strong></h1>
      <p>Change your life and lease a watch anywhere around the world.</p>
    </div>
  </div>
</div>


<div>
<div class="midpage">
    <h2 class="text-center">How it works</h2>
    <div class="cards">
      <div class="card">
        <%= image_tag("search.jpg", :alt => "search") %>
        <h4>Browse</h4>
        <p>Browse watches!!!</p>
      </div>
      <div class="card">
        <%= image_tag("subscribe.jpg", :alt => "subscribe") %>
        <h4>Subscribe</h4>
        <p>Become a member</p>
      </div>
      <div class="card">
        <%= image_tag("rent.jpg", :alt => "rent") %>
        <h4>Rent a watch</h4>
        <p>Yeah just that</p>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <p>Rent watches / </p>
    <p> Lend watches / </p>
    <p> Rent watches / </p>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-stopwatch"></i> WATCHTOWER INC. <i class="fas fa-stopwatch"></i>
  </div>
</div>
