

<div class="banner banner-homepage" style="background-image: url(https://images.pexels.com/photos/129843/pexels-photo-129843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="split">
    <div class="form-wrapper watch-form d-flex">
      <%= simple_form_for :search, url: watches_path, method: :get do |f| %>
      <div class="centered">
        <h3> Look for your new watch! </h3>
        <div>
          <div class="form-group">
            <%= f.input :address, :label => "City:", required: false, as: :select, collection: ["Basel", "Davos", "Geneva", "Lausanne", "Lugano", "Neuchâtel", "Schwyz", "St. Gallen", "St. Moritz", "Thun", "Winterthur", "Yverdon-les-Bains", "Zermatt", "Zug", "Zurich"] %>
          </div>
          <div class="form-group">
            <%= f.input :gender, :label => "Gender style:", required: false, as: :select, collection: ["Female", "Male", "Other"]%>
          </div>
          <div class="form-group">
            <%= f.input :from, as: :string, required: false, label: "Availablility period", input_html: {class: "datepicker"} %>
            <p id="totaldays"></p>
            <%= f.button :submit, "Search watches", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="split container-slogan" style="height:400px;">
    <div class="centered">
      <h1><strong>Not On Our Watch..</strong></h1>
      <p>Finally wear the watch you have always wanted! </p>
    </div>
  </div>
</div>


<div>
  <div class="midpage">
    <h2 class="text-center tex-center-midpage">How it works</h2>
    <div class="cards midpagecards">
      <div class="card midpagecard">
        <%= image_tag("search.jpg", :alt => "search") %>
        <h4>Browse</h4>
        <p>Browse watches!!!</p>
      </div>
      <div class="card midpagecard">
        <%= image_tag("subscribe.jpg", :alt => "subscribe") %>
        <h4>Subscribe</h4>
        <p>Become a member</p>
      </div>
      <div class="card midpagecard">
        <%= image_tag("rent.jpg", :alt => "rent")%>
        <h4>Rent a watch</h4>
        <p>Yeah just that</p>
      </div>
    </div>
  </div>
</div>
