<div>checked: <%= scraper.url % [scraper.pages] %></div>
<div>prices:</div>
<div>from <%= scraper.price_range.first %> to <%= scraper.price_range.last %></div>
<div>mean: <%= scraper.mean %></div>
<div>median: <%= scraper.median %></div>
