<div class="main-container">
  <h1 class="watches-header">Browse watches</h1>
  <div class="cards-index">
    <% @watches.each do |watch| %>
    <div class="card-product-index">
      <%= cl_image_tag watch.watch_image, width: 200, crop: :fill %>
      <div class="card-product-infos-index">
        <h2><%= link_to watch.watch_brand, watch_path(watch)%></h2>
        <p><%= watch.watch_model %></p>
        <p><%= watch.watch_category %></p>
      </div>
      <div class="price-tag">
        <p> <strong><%= watch.rental_price %> € per day</strong></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
