<div class="navbar navbar-home navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <h1>WatchTower <i class="fas fa-stopwatch"></i> <i class="fas fa-gopuram"></i></h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <%= link_to "Home", root_path, class: "navlink"  %>
      </li>
      <li class="nav-time ">
        <%= link_to "Rent Watches", new_my_watch_path, class: "navlink" %>
      </li>
      <li class="nav-time ">
        <%= link_to "Lease Watches", watches_path, class: "navlink" %>
      </li>
    </div>
  </li>
</ul>
<div class="nav-item active">
  <%= link_to "Log in", new_user_session_path, class: "navlink"  %>
</div>
<div class="nav-item active">
  <%= link_to "Sign up", new_user_registration_path, class: "navlink"  %>
</div>
<nav class="navbar">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="e.g., Rolex GMT" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</nav>
</div>
</div>
</div>
<br>
<br>

<h1 class="watches-header">All watches</h1>
<div class="cards-index">
  <% @watches.each do |watch| %>
    <div class="card-product-index">
      <%= cl_image_tag watch.watch_image, width: 200, crop: :fill %>
      <div class="card-product-infos-index">
        <h2><%= link_to watch.watch_brand, watch_path(watch)%></h2>
        <p><%= watch.watch_model %></p>
        <p><%= watch.watch_category %></p>
        <p><%= watch.rental_price %> € per day</p>
      </div>
    </div>
  <% end %>
</div>

