<div class="navbar navbar-home navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <h1>WatchTower <i class="fas fa-stopwatch"></i> <i class="fas fa-gopuram"></i></h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <%= link_to "Home", root_path, class: "navlink"  %>
      </li>
      <li class="nav-time ">
        <%= link_to "Rent your Watch", new_my_watch_path, class: "navlink" %>
      </li>
      <li class="nav-time ">
        <%= link_to "Browse Watches", watches_path, class: "navlink" %>
      </li>
    </div>
  </li>
</ul>
<div class="nav-item active">
  <%= link_to "Log in", new_user_session_path, class: "navlink"  %>
</div>
<div class="nav-item active">
  <%= link_to "Sign up", new_user_registration_path, class: "navlink"  %>
</div>
<nav class="navbar">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="e.g., Rolex GMT" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</nav>
</div>
</div>
</div>

<div class="card-product-show">
  <img src="<%= @watch.watch_image %>">
  <div class="card-product-infos-show">
    <h2> <%=@watch.watch_brand%> - <%=@watch.watch_model%> </h2>
    <p>Model <strong><%=@watch.watch_category%></strong></p>
    <p>Gender <strong><%=@watch.gender%></strong></p>
    <h3>€<%=@watch.rental_price%> (per day)</h3> <p>Retail price €<%=@watch.retail_price%></p>
    <button class="btn btn-primary btn-book" type="submit"><strong>BOOK NOW</strong></button>
  </div>
</div>

