<div class="main-container product-show-container">
  <div class="card-product-show">
    <img src="<%= @watch.watch_image %>">
    <div class="card-product-infos-show">
      <h2> <%=@watch.watch_brand%> - <%=@watch.watch_model%> </h2>
      <p>Model <strong><%=@watch.watch_category%></strong></p>
      <p>Gender <strong><%=@watch.gender%></strong></p>
      <h3>€<%=@watch.rental_price%> (per day)</h3> <p>Retail price €<%=@watch.retail_price%></p>
      <%= link_to(new_watch_booking_path(@watch)) do %>
      <button class="btn btn-primary btn-book" type="submit">
        <strong>BOOK NOW</strong> </button>
        <% end %>
    </div>
  </div>
</div>
